.modal {
  width: max-content;
  height: max-content;

  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  animation: growFromCenterAnimation 0.25s alternate;
}

@keyframes growFromCenterAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.parent {
  position: relative;
}

.header {
  background-color: var(--primary);
  color: white;
  padding: 1rem;
  border-top-left-radius: 8px;
  position: relative;
  border-top-right-radius: 8px;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
}

.extra {
  font-size: 0.75rem;
  font-weight: 300;
}

.body {
  background-color: white;
  position: relative;
  padding: 1rem;
  max-height: max-content;

  transition: all ease 0.5s;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}
