.sidebar {
  background-color: black;
  color: white;
  width: 60px;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  background-color: var(--primary);
  width: 100%;
}

.logo > img {
  max-width: 100%;
}
