.wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid #e3e3e3;
}

.input > input {
  outline: none;
  border: none;
  padding: 0.5rem;
  min-width: 200px;
}

.label {
  margin-bottom: 0.5rem;
}
