.wrapper {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
}

.label.focused {
  color: var(--primary);
  font-weight: 500;
}

.datepicker {
  width: 216.61px;
  display: flex;
  border: 1px solid #e3e3e3;
  padding: 0.5rem;
  position: relative;
}

.content {
  display: flex;
}

.datepicker.focused {
  border: 1px solid #1c8d76 !important;
}

.input {
  flex: 1;

  outline: none;
  border: none;
}

.calendar {
  cursor: pointer;
  display: flex;
  align-items: center;
}
