.wrapper {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  max-width: 300px;
  text-align: center;
}

.wrapper > :not(:last-child) {
  margin-bottom: 1rem;
}

.wrapper > :last-child {
  display: flex;
  justify-content: flex-end;
  max-height: 2rem;
  width: 100%;
}

.wrapper > :last-child > :not(:last-child) {
  margin-right: 1rem;
}

.delete {
  top: 85%;
  left: 1.5rem;
  width: fit-content;
  color: black;
}

.delete:hover {
  color: var(--error);
}
