.content {
  width: 100%;
  position: relative;
}

.title {
  font-weight: 400;
  padding-left: 1rem;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-gray);
  position: sticky;
  top: 0;
  background-color: white;
}

.header > :last-child {
  display: flex;
  padding: 0.5rem;
  align-items: center;
}

.header > :last-child > * {
  height: min-content;
  padding: 12px;
}

.header > :last-child > :not(:last-child) {
  margin-right: 0.5rem;
}

.body {
  min-height: calc(100vh - 68.81px);
  background-color: var(--bg-light-gray);
}

.emptySchedule {
  height: calc(100vh - 68.81px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.emptyScheduleIcon {
  font-size: 5rem;
}

.emptyScheduleContent {
  max-width: 300px;
}

.emptyScheduleContent > * {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 12px;
}

.emptyScheduleContent > :last-child > * {
  height: min-content;
  padding: 12px;
  width: min-content;
}

.scheduleListing {
  min-height: calc(100vh - 68.81px);
  display: grid;
  grid-template-columns: 205px 1fr 1fr;
}

.scheduleListing > :nth-child(1) {
  border-right: 1px solid var(--border-gray);
  padding-top: 1rem;
}

.scheduleListing > :nth-child(1) > div {
  cursor: pointer;
  padding: 0.5rem;
}

.scheduleListing > :nth-child(1) > div > div {
  margin-bottom: 4px;
}

.scheduleListing > :nth-child(1) > div > :first-child {
  font-weight: 500;
}

.scheduleListing > :nth-child(1) > div.active {
  background-color: #eee;
}

.scheduleListing > :nth-child(2) {
  border-right: 1px solid var(--border-gray);
}

.scheduleListing > :nth-child(2) > :first-child {
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border-gray);
}

.class {
  padding: 0.5rem;
  cursor: pointer;
}

.class:hover {
  background-color: #eee;
}

.class > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}
