.header {
  display: flex;
  justify-content: center;
  border-bottom: 4px solid var(--primary);
  padding: 1rem;
}

.logo {
  max-width: 250px;
}

.logo > img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 82.11px - 5rem);
  padding-top: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form {
  margin-top: 5rem;
}

.form > div > form > div:not(:last-child) {
  margin-bottom: 1.5rem;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-weight: 300;
}
