.wrapper {
  display: flex;
  flex-direction: column;
}

.input {
  border: 1px solid #e3e3e3;
  outline: none;
}

.input[data-focus-visible-added] {
  border: 1px solid #1c8d76;
}

.input::-webkit-calendar-picker-indicator {
  background-color: #e3e3e3;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
}

.input::-webkit-datetime-edit {
  padding: 0.5rem;
}
