* {
  transition: all linear 0.1s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary: rgba(0, 150, 121, 1);
  --secondary: rgba(0, 185, 145, 1);
  --error: #c90019;
  --bg-light-gray: #f9f9f9;
  --border-gray: #cdd4d4;
  --txt-primary: #464646;
}

.App {
  position: relative;
  color: var(--txt-primary);
  box-sizing: border-box;
}

.flex {
  display: flex;
}
.txt-xl {
  font-size: 32px;
}
.txt-lg {
  font-size: 24px;
}
.txt-md {
  font-size: 16px;
}
.txt-sm {
  font-size: 14px;
}
.txt-xs {
  font-size: 12px;
}
.txt-primary {
  color: var(--primary);
}
.txt-secondary {
  color: var(--secondary);
}
.txt-white {
  color: white;
}
.txt-thin {
  font-weight: 300;
}

.txt-bold {
  font-weight: bold;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.error {
  color: var(--error);
  font-size: 12px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 4px;
}

/* Tooltip text */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 24px;
  left: 30px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 20px;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip svg {
  font-size: 1.5rem;
}

.tooltip svg path {
  color: red;
}

.close {
  position: absolute;
  top: -45%;
  right: 1rem;
  cursor: pointer;
  transition: all ease 0.5s;
  color: white;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.close svg {
  stroke-width: 100px;
}

.close:hover {
  color: var(--primary);
  background-color: white;
  border-radius: 4px;
  transform: rotate(90deg);
}

.edit {
  position: absolute;
  top: -45%;
  right: calc(1.5rem * 2);
  cursor: pointer;
  transition: all ease 0.5s;
  color: white;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.edit:hover {
  color: var(--primary);
  background-color: white;
  border-radius: 4px;
}

.delete {
  position: absolute;
  top: -45%;
  right: calc(1.75rem * 3);
  cursor: pointer;
  transition: all ease 0.5s;
  color: white;
  display: flex;
  justify-content: center;
  padding: 4px;
}

.delete:hover {
  color: var(--primary);
  background-color: white;
  border-radius: 4px;
}
