.sidebar {
  background-color: black;
  color: white;
  max-width: 60px;
  height: 100vh;
  position: sticky;
}

.logo {
  background-color: var(--primary);
  width: 100%;
}

.logo > img {
  max-width: 100%;
}

.menu {
  height: 60px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.menu.active {
  color: var(--primary);
}
